@media screen and (min-width: 768px) {

  /* Header */
  .open-menu-btn {
    display: none;
  }

  .menu-icons-mb {
    display: none;
  }

  .header-wrapper {
    padding: 0;
  }

  .menu-container {
    display: flex;
    flex: 2;
    justify-content: space-between;
    position: initial;
  }

  .portfolio-link,
  .home-link {
    color: var(--dark-color);
  }

  .portfolio-link::after,
  .home-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .menu-list {
    flex-direction: row;
  }

  .menu-list li:last-of-type {
    margin-bottom: 0;
  }

  .close-menu-btn {
    display: none;
  }

  .contacts {
    display: flex;
    align-items: center;
  }

  .menu-link {
    padding: 24px 0;
    font-size: 16px;
  }

  .contacts-list {
    margin-bottom: 0;
    row-gap: 12px;
    align-items: flex-end;
  }

  .contacts-list li:first-of-type {
    order: 0;
  }

  .contact-phone-number {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 400;
  }

  .contact-mail {
    font-size: 12px;
  }

  /* Header END */

  /* Hero */
  .heading {
    font-size: 56px;
    margin-bottom: 36px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tb.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tb-x2.jpg);
    }
  }

  /* Hero end */

  /* Features */
  .section-box {
    width: calc((100% - 24px) / 2);
  }

  .features-list-header {
    text-align: left;
  }

  /* Features end */


  /* Team */
  .team-item {
    width: calc((100% - 24px) / 2);
    justify-content: flex-end;
  }

  .team-item:nth-child(even) {
    justify-content: flex-start;
  }

  .team-list {
    row-gap: 64px;
  }

  /* Team end */


  /* Customer */
  .customer-container {
    max-width: 552px;
    column-gap: 24px;
    row-gap: 72px;
  }

  .customer-icon {
    width: 168px;
  }

  /* Customer end*/

  /* Footer */
  .footer-box {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer {
    padding: 97px 0 96px 0;
    padding-left: 108px;
  }

  .footer-box {
    flex-basis: auto;
  }

  .footer-label {
    flex-basis: auto;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .footer-wrapper {
    text-align: left;
  }

  .footer-form {
    justify-content: flex-start;
  }

  .social-media {
    margin: 0;
    flex-basis: auto;
  }

  .modal {
    width: 408px;
  }

  /* Footer end */
}

@media screen and (min-width: 1158px) {
  .header-wrapper {
    justify-content: space-between;
  }

  .menu-container {
    flex: 4.5;
  }

  .contacts-list {
    font-size: 16px;
  }

  .contacts-list {
    flex-direction: row;
  }

  .contact-mail {
    margin-right: 40px;
    font-size: 16px;
  }

  .contact-phone-number {
    font-size: 16px;
  }

  /* Hero */
  .heading {
    margin-bottom: 48px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office-x2.jpg);
    }
  }

  /* Hero end */

  /* Features */
  .feature-icon-box {
    display: block;
  }

  .section-box {
    width: calc((100% - 3*24px) / 4);
  }

  .features-list-header {
    font-size: 20px;
  }

  .section {
    padding: 120px 0;
  }

  .section-box {
    margin-bottom: 0;
  }

  /* Features end */

  /* Photos */
  .section-doings {
    display: block;
  }

  /* Photos end */

  /* Team */
  .section-team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 3*24px) / 4);
  }

  /* Team end */

  /* Customer */
  .customer-container {
    max-width: 100%;
  }

  .section-customer {
    padding: 120px 0;
  }

  /* Customer end*/

  /* Footer */

  .footer-box {
    margin-right: 118px;
  }

  .footer-wrapper {
    flex-wrap: nowrap;
  }

  .footer {
    padding: 101px 0 100px 0;
  }

  .social-media {
    margin-right: 80px;
  }

  .footer-form {
    flex-wrap: nowrap;
  }

  .subscribe {
    flex-basis: auto;
  }

  /* Footer end */
}